<%- include('../partials/header') %>
<div class="reminder-form-container">
  <h3 class="reminder-form-title">EDIT REMINDER</h3>

  <form action="/reminders/<%= reminder._id %>?_method=PUT" method="POST" class="reminder-form">
    <div class="reminder-form-group">
      <h4 class="reminder-form-label">Recipient Name:</h4>
      <input class="reminder-form-input" name="recipient" required value="<%= reminder.recipient %>">
    </div>
    <div class="reminder-form-group">
      <h4 class="reminder-form-label">Date:</h4>
      <input class="reminder-form-input" name="date" required type="date" value="<%= reminder.date.toISOString().slice(0, 10) %>">
    </div>
    <div class="reminder-form-group">
      <h4 class="reminder-form-label">Occasion:</h4>
      <input class="reminder-form-input" name="occasion" required value="<%= reminder.occasion %>">
    </div>
    <button type="submit" class="reminder-form-button">SAVE CHANGES</button>
  </form>
</div>
<%- include('../partials/footer') %>